/* CSS Reset */
*{
    margin: 0px;
    padding: 0px; 
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 20px;
}

#logo img{
    height: 46px;
    margin: 9px 4px;
}    

/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
   
}

#navbar::before{
    background-color: black;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 3px solid orange;
   
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color:white; 
    display: block;
    padding: 3px 22px;
    text-decoration: none;
    border-radius: 10px;
}

#navbar ul li a:hover{
    color: orange;
   

}
